<div class="footer-search">
      <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('shipping_promotion_top')->toHtml();  //echo $_menu; ?>
     <!--<?php //echo $this->getChildHtml("footer-tags"); ?>-->
</div>
<div id="footer" class="footer-container layout2 footer">
  <div class="container">
  	<?php echo $this->getChildHtml("footer_static"); ?>
  </div>
</div>
<div class="footer-bottom">
  <div class="container">
    <div class="row">
      <div style="text-align: center;width: 100%;">
        <?php  echo $this->getLayout()->createBlock("Rokanthemes\Themeoption\Block\Customcss")->setTemplate("html/copyright.phtml")->toHtml() ?>
      </div>
    </div>
  </div>
</div>
<div id="back-top" class="hidden-xs"><i class="fa fa-angle-up"></i></div>

<!-- START Bootstrap-Cookie-Alert -->
<div class="alert cookiealert" role="alert" style="font-family: 'Kanit' !important;">
<div class="container">
<div class="row">
<div class="col-sm-9"><p>เว็บไซต์ของเรามีการใช้งานคุกกี้เพื่อวัตถุประสงค์ในการจัดการประสบการณ์ของผู้ใช้งานให้ดีที่สุด ได้แก่ คุกกี้ที่มีความจำเป็นอย่างยิ่ง คุกกี้เพื่อการวิเคราะห์ประสิทธิภาพ คุกกี้เพื่อการทำงานของเว็บไซต์ คุกกี้กำหนดกลุ่มเป้าหมาย และคุกกี้เพื่อการโฆษณา ศึกษารายละเอียดและการตั้งค่าคุกกี้เพิ่มเติมเพื่อความเป็นส่วนตัวของท่านได้ใน  <a style="vertical-align:baseline !important;" href="https://www.phoenixnext.com/cookies-policy">นโยบายการใช้คุกกี้</a> และ <a style="vertical-align:baseline !important;" href="https://www.phoenixnext.com/privacy-policy">นโยบายส่วนบุคคล</a></p></div>
<div class="col-sm-3">  <button style="float: right; padding: 18px;" type="button" class="btn btn-primary btn-sm acceptcookies">ยอมรับ</button>
</div>
</div>
</div>
</div>

</div>
