<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
?>
<li class="item link compare" data-bind="scope: 'compareProducts'" data-role="compare-products-link">
	<a title="<?php /* @escapeNotVerified */ echo __('Compare Products') ?>"
	   data-bind="attr: {'href': compareProducts().listUrl}"
	>
		<i class="compare_Products"></i> <?php /* @escapeNotVerified */ echo __('Compare') ?>
	</a>
</li>
<script type="text/x-magento-init">
{"[data-role=compare-products-link]": {"Magento_Ui/js/core/app": <?php /* @escapeNotVerified */ echo $block->getJsLayout();?>}}
</script>
