<!-- ko if: isShowRewards() -->
<form id="reward-points-form" data-bind="attr: { action: ApplayPointsUrl }, blockLoader: isLoading" method="post">
    <div class="rewards-message-block">
        <!-- ko foreach: getRegion('rewards-messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
    </div>
    <div class="rewards__checkout-cart-usepoints">
        <div class="discount-form">
            <p>
                <!-- ko i18n: 'You have'--><!-- /ko --> <b data-bind="text: rewardsPointsAvailble"></b> <!-- ko i18n: 'available.'--><!-- /ko -->
            </p>

            <input type="hidden" name="remove-points" id="remove-points" data-bind="value: isRemovePoints"/>
            
            <div class="onestepcheckout-newsletter checkbox-group" style="display: flex;">
                <input type="checkbox" id="points_all" name="points_all"
                       class="checkbox osc-additional-data" data-bind="
                    click: setMaxPoints,
                    checked: useMaxPoints
                ">
                <label class="label--checkbox" for="points_all" style="padding-left: 5px;padding-top: 2px;">
                    <span class="check"></span>
                    <span class="box-check"></span>
                    <!-- ko i18n: 'Use maximum'--><!-- /ko --> <b data-bind="text: chechoutRewardsPointsMax() + ' ' + rewardsPointsName"></b>
                </label>
            </div>

            <div class="input-box">
                <input type="text" class="input-text" id="points_amount" name="points_amount"
                    data-bind='
                        value: rewardsPointsUsed,
                        attr: {
                            "data-validate": addRequireClass
                         },
                        event: { change: validatePointsAmount }
                    '
                    data-validate="{'required-entry':true}" required
                />
                <label for="points_amount" style="padding-top: 6px;padding-left: 6px;"><!-- ko i18n: 'Enter amount of points to spend'--><!-- /ko --></label>
            </div>

            <div class="buttons-container" style="text-align: center;">
                <button type="button" class="button action" data-bind="click: rewardsFormSubmit.bind($data, false)" style="margin: 0px;padding: 0px;width: 40%;">
                    <span><!-- ko i18n: 'Apply'--><!-- /ko --></span>
                </button>
                <button type="button" class="button action" data-bind="click: rewardsFormSubmit.bind($data, true)" style="margin: 0px;padding: 0px;width: 40%;">
                    <span><!-- ko i18n: 'Cancel'--><!-- /ko --></span>
                </button>
            </div>

            
        </div>
    </div>
</form>
<hr>
<!-- /ko -->