.newsletterpopup {
	top: 115px !important;
	height: 612px !important;
	position: fixed !important;
}
#newsletter_pop_up {
	display: none;
	.newletter_popup_close{
        color: #fff;
	    display: block;
	    line-height: 30px;
	    position: absolute;
	    text-align: center;
	    z-index: 999;
	    background: #000;
	    width: 32px;
	    height: 32px;
	    top: 10px;
	    right: 10px;
	    border-radius: 4px;
	    padding: 3px;
		span{
			&:before{
			    color: #fff;
			    font-size: 18px;
			    line-height: 22px;
			    display: block;
			    font-weight: 400;
			    content: "x";
			}
		}
	}
	.content-popup {
	    text-align: center;
	    margin-top: 339px;
	    .form.subscribe {
		    width: 540px;
		    position: absolute;
		    right: 148px;
		    border: none;
		    font-family: @mnf;
		    font-weight: 600;
			.action.subscribe.primary {
			    top: 0;
			    right: 0;
			    max-width: 210px;
			    text-transform: uppercase;
			    font-family: @popupfont;
			    font-size: 14px;
			    font-weight: 400;
			    color: #fff;
			    background: @linkshover;
				padding: 5px 66px;
			    border-radius: 3px;
			}
		}
	
		p {
			margin-top: 65px;
			font-family: @popupfont;
			font-weight: 400;
			font-size: 18px;
			color: @popuptext;
			margin-bottom: 20px;
			span {
				color: @linkshover;
			}
		}
		input[type="email"]{
			display: block;
			width: 100%;
			height: 40px;
			line-height: 40px;
			padding: 0 15px;
			border: 1px solid @bordercolor;
			background: @bkg;
			margin-bottom: 25px;
			border: 1px solid @popuptext;
			border-radius: 6px;
			text-align: center;
			font-family: @popupfont;
			font-weight: 400;
			font-size: 14px;
			color: @secondaryColor;
		}
		
		.subscribe-bottom {
			margin-top: 75px;
			input {
				display: inline-block;
    			margin-top: 1px;
			}
			label{
				display: inline-block;
			    margin-left: 5px;
			    cursor: pointer;
			    font-family: @popupfont;
			    font-size: 14px;
			    font-weight: 400;
			    color: @popuptext;
			}
		}
		.field.newsletter {
			position: relative;
			div.mage-error[generated] {
				position: absolute;
			    bottom: -18px;
			    left: 75px;
			}
		}
	}
}

@media (max-width: 991px) {
	#newsletter_pop_up {
		width: 710px !important;
	}
}
@media(max-width: 767px){
	.b-modal.__b-popup1__,
	#newsletter_pop_up{
		display: none !important;
	}
}