<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
   <div class="payment-method-title field choice">
      <input type="radio"
         name="payment[method]"
         class="radio"
         data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
      <label data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: getTitle()"></span></label>
   </div>
   <div class="payment-method-content">
      <!-- ko foreach: getRegion('messages') -->
      <!-- ko template: getTemplate() --><!-- /ko -->
      <!--/ko-->
      <div class="payment-method-billing-address">
         <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
         <!-- ko template: getTemplate() --><!-- /ko -->
         <!--/ko-->
      </div>
      <div data-bind="if: specializationArray() != null && specializationArray().length > 0 ">
         <form class="form" data-bind="attr: {'id': getCode() + '_form'}">
            
            Card Number: <input type="text" name="card_number"><br>
            Card Holder: <input type="text" name="card_holder"><br>
            <!--<span>
               <select name="card_exp_month">
                 <?php 
                  //for( $m=1; $m<=12; ++$m ) { 
                  //$month_label = date('F', mktime(0, 0, 0, $m, 1));
                 ?>
               <option value="<?php //echo $month_label; ?>"><?php //echo $month_label; ?></option>
                 <?php 
                  } 
                 ?>
               </select> 
            </span>
            <span>
               <select name="card_exp_year">
                 <?php 
                     //$year = date('Y');
                     //$min = $year - 10;
                     //$max = $year + 10;
                     //for( $i= $max; $i>= $min; $i-- ) {
                     //   echo '<option value='.$i.'>'.$i.'</option>';
                     }
                 ?>
               </select>
            </span>-->
            Card CVV: <input type="number" name="card_cvv" pattern = "\d{3}"><br>
            <span>
               <select name="card_country">
                  <option value="TH">Thailand</option>
               </select>
            </span>
            <span>
               <select name="card_bank">
                  <option value="BBL">Bangkok Bank</option>
                  <option value="KBANK">Kasikorn Bank</option>
                  <option value="KTB">Krung Thai Bank</option>
                  <option value="SCB">Siam Commercial Bank</option>
                  <option value="TBANK">Thanachart Bank Public Company Ltd.</option>
                  <option value="UOB">United Overseas Bank</option>
                  <option value="CIMB">CIMB Thai Bank Public Company Ltd.</option>
                  <option value="TMB">TMB Bank Public Company Limited</option>
                  <option value="BAY">Bank of Ayutthaya</option>
                  <option value="TRUEMONEY">True Money Shop</option>
                  <option value="TESCO">Argentina</option>
                  <option value="TOT">Armenia</option>
                  <option value="PAP">Aruba</option>
               </select>
            </span>
            <br>
            <span class="pull-left"><b>Select my card </b></span>
            <span>
            <select name="payment[test1]" 
               data-bind="options:specializationArray, 
               optionsText: 'masked_pan', 
               optionsValue: 'p2c2p_id' ,
               optionsCaption: 'I\'ll use new card',
               value: '0',
               event:{change: tokenChangeEvent},
               attr: {'id': getCode()+'_test1'} " style='width: 45%' />
            </span>
            <span>
            <input type="button" 
               name="btn_token_delete" 
               class="action primary checkout"
               value="Remove card" 
               style='display:none;'
               data-bind="click: removeStoredCard, attr: {'id': getCode() + '_btnTokenDelete'}">
            </span>
         </form>
         <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
         </div>
      </div>
      <div class="actions-toolbar">
         <div class="primary">
            <button  class="action primary checkout" type="submit" data-bind="click: placeOrder,attr: {title: $t('Place Order')},
               css: {disabled: !isPlaceOrderActionAllowed()},
               enable: (getCode() == isChecked())"
               disabled >
            <span data-bind="i18n: 'Place Order'"></span>
            </button>
         </div>
      </div>
   </div>
</div>