<?php
    $label = $block->getPreOrderFormatted();
?>
<div><?php echo $label; ?></div>

<?php if($label == "มีสินค้า (พร้อมส่ง)") : ?>
		<div style="line-height: 1.5rem;margin-top: 5px;">
			ชำระก่อน 14.00 จันทร์-เสาร์<br>จัดส่งภายในวันรุ่งขึ้น<br>(ยกเว้นวันอาทิตย์)
		</div>
<?php else : ?>
		<div style="line-height: 1.5rem;margin-top: 5px;">
			จัดส่งตามลำดับการชำระเงิน<br>ภายใน 24 ชัวโมง<br>เมื่อมีสินค้า(พร้อมส่ง)
		</div>
<?php endif; ?>
