<?php $_item = $block->getItem();
$product = $_item->getProduct(); // Get cart product details
$additional_data = $block->getAdditionalData(); // Get cart product additionl details defined in block page
?>
<div>
    <span><?php echo $additional_data; ?></span>
</div>
