/**
 * custom theme 2017-06-12 15:56:10 */

#newsletter_pop_up{
width: 600px;height: 370px;background-color: #F4F4F4;background-image: url(http://127.0.0.1/MGT/yourtheme/pub/media/rokanthemes/newsletter/background/default/popup-girl.png);background-repeat: no-repeat;
background-position: right 20px center;}
