<?php
$product = $block->getProduct();
?>
<div class="actions" style="display: flex;">
    <a class="action viewcart" href="<?php echo $product->getProductUrl(); ?>" style="width: 100%;text-decoration: underline;">
        <span>ดูรายละเอียดทั้งหมด >></span>
    </a>
</div>