	<?php 
use Magento\Framework\App\Action\Action;
	$enable = $block->getConfig('enabled');
	if($enable < 1) return ; 
	$items = $block->getConfig('items');
	$speed = $block->getConfig('speed');
	$qty = $block->getConfig('qty');
	$showCart = $block->getConfig('addtocart');
	$showWishlist = $block->getConfig('wishlist');
	$showCompare = $block->getConfig('compare');
	$show_navigation = $block->getConfig('navigation');
	$show_pagination = $block->getConfig('pagination');
	$auto = $block->getConfig('auto');
	$imageBlock =  $block->getLayout()->createBlock('Magento\Catalog\Block\Product\Image');
	$image = 'new_products_content_widget_grid';
	$type = 'widget-new-grid';
	$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::DEFAULT_VIEW;
	$rows = $block->getConfig('row');
	?>
<script>
	window.onload = function() {
  
  function setCurrentSlide(ele,index){
    $(".swiper1 .swiper-slide").removeClass("selected");
    ele.addClass("selected");
    //swiper1.initialSlide=index;
  }
  
  var swiper1 = new Swiper('.swiper1', {
        slidesPerView: 5,
        paginationClickable: true,
        spaceBetween: 10,
        freeMode: true,
        loop: false,
        onTab:function(swiper){
          var n = swiper1.clickedIndex;
          alert(1);
        }
    });
  swiper1.slides.each(function(index,val){
    var ele=$(this);
    ele.on("click",function(){
      setCurrentSlide(ele,index);
      swiper2.slideTo(index, 500, false);
      //mySwiper.initialSlide=index;
    });
  });
}
</script>
	<div class="box-title">
		<ul class="tabs">
			<?php 
				$tab_contents = $block->getTabContent() ; 
				 ?>

        <div class="swiper-container swiper1">
    		<div class="swiper-wrapper">
        <?php
		    $count=0;			
			foreach($tab_contents as $tab) {
				?>
			<li rel="tab_<?php echo $tab['id'];?>" class="<?php echo $tab['class']; ?>" <?php if ($count==0) ?>> <?php echo $tab['name'];?></li>
				<?php
				$count ++; 
			}
			?>

	    		</div>
	  		</div>
		</ul>
		<p class="des"><?php echo __('Lorem Ipsum is simply dummy text of the printing and typesetting industry.') ?></p>
	</div>
	<div class="tab_container"> 
		<div class="row">
	   <?php 
		foreach($tab_contents as $tab) {
		?>
		 <div id="tab_<?php echo $tab['id'];?>" class="tab_content <?php echo $tab['class']; ?>"> 
		 	<div class="categoryProductTabContent owl-carousel">
			<?php 
				$i=0;
				$productItems =  $tab['productInfo']; 
				foreach($productItems as $_item) { 
						$productImage = $block->getImage($_item, $image);
				?>
					<?php if($i++%$rows==0) { ?> <div class="product_row"> <?php } ?>
					<div class="product-item">
						<div class="product-photo">
							<a href="<?php echo $block->getProductUrl($_item) ?>" class="product-item-photo">
								<?php echo $productImage->toHtml() ?>
							</a>
							<?php if ($showWishlist || $showCompare || $showCart): ?>
							<ul class="add-to-links">
									<?php if ($showCart): ?>
									<li>
										<div class="actions-primary">
											<?php if ($_item->isSaleable()): ?>
												<?php $postParams = $block->getAddToCartPostParams($_item); ?>
												<form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $block->getAddToCartUrl($_item); ?>" method="post">
													<input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
													<input type="hidden" name="<?php /* @escapeNotVerified */ echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
													<?php echo $block->getBlockHtml('formkey')?>
													<button class="btn btn-add-to-cart" type="submit"
															title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>" >
														<i class="fa fa-shopping-cart" aria-hidden="true"></i>
													</button>
												</form>
											<?php else: ?>
												<?php if ($_item->getIsSalable()): ?>
													<div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span><i class="fa fa-shopping-cart" aria-hidden="true"></i></div>
												<?php else: ?>
													<div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span><i class="fa fa-shopping-cart" aria-hidden="true"></i></div>
												<?php endif; ?>
											<?php endif; ?>
										</div>
									</li>
									<?php endif; ?>
									<?php if ($showWishlist || $showCompare): ?>
										<?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && $showWishlist): ?>
										<li>
											<a href="#"
											   data-post='<?php echo $block->getAddToWishlistParams($_item); ?>'
											   class="action towishlist" data-action="add-to-wishlist"
											   title="<?php echo __('Add to Wishlist') ?>">
												<i class="fa fa-heart" aria-hidden="true"></i>
											</a>
										</li>
										<?php endif; ?>
										<?php if ($block->getAddToCompareUrl() && $showCompare): ?>
											<?php $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');?>
											<li>
												<a href="#" class="action tocompare"
												   data-post='<?php echo $compareHelper->getPostDataParams($_item);?>'
												   title="<?php echo __('Add to Compare') ?>">
													<i class="fa fa-exchange" aria-hidden="true"></i>
												</a>
											</li>
										<?php endif; ?>
									<?php endif; ?>
								</ul>
							<?php endif; ?>
						</div>
						<div class="product-info">
							<h3 class="product-name">
								<a title="<?php echo $block->escapeHtml($_item->getName()) ?>"
							   href="<?php echo $block->getProductUrl($_item) ?>"
							   class="product-item-link">
								<?php echo $block->escapeHtml($_item->getName()) ?>
							</a>
							</h3>
							<div class="box-rate-price clearfix">
								<?php /* @escapeNotVerified */ echo $this->helper('Rokanthemes\Themeoption\Helper\Data')->getPriceDisplayCustom($block->getProductPrice($_item)) ?>
								<?php if ($templateType): ?>
									<div class="product-ratting">
										<?php echo $block->getReviewsSummaryHtml($_item, $templateType) ?>
									</div>
								<?php endif; ?>
							</div>
						</div>
					</div>
					 <?php if($i%$rows==0 || $i == count($productItems)) { ?> </div> <?php }?>
				<?php 
				}
				?>
			</div>
		 </div>
		<?php 
		} 
		?>
	</div>
	</div>
<script type="text/x-magento-init">
{
	"[data-role=tocart-form], .form.map.checkout": {
		"catalogAddToCart": {}
	}
}
</script>
	
<script type="text/javascript">
require(["jquery", "rokanthemes/owl"], function($){

	$(".tab_content").hide();
	$(".tab_content:first").show(); 

	$("ul.tabs li").click(function() {
		$("ul.tabs li").removeClass("active");
		$(this).addClass("active");
		$(".tab_content").hide();
		$(".tab_content").removeClass("animate1");
		var activeTab = $(this).attr("rel"); 
		$("#"+activeTab) .addClass("animate1");
		$("#"+activeTab).fadeIn(); 
	});
	
	  $(".categoryProductTabContent").owlCarousel({
	    		items : <?php if($items) { echo $items; } else { echo 5; }?>,
				autoPlay : <?php if($auto) echo 'true'; else echo 'false'; ?>,
				slideSpeed : <?php if($speed) echo $speed; else echo '500'; ?>,
				navigation : <?php if($show_navigation) echo 'true'; else echo 'false'; ?>,
				stopOnHover : true,
				pagination : <?php if($show_pagination) echo 'true'; else echo 'false'; ?>,
				pagination : false,
				itemsDesktop : [1200,3],
				itemsDesktopSmall : [1000,2],
				itemsTablet: [680,2],
				itemsMobile : [460,1]
	});
	

});
 

</script> 


