<div class="banner-sliders">
	<br>
	<div class="container">
		<?php echo $block->getLayout()->createBlock('Rokanthemes\SlideBanner\Block\Slider',
        "homepagesliderblock",
        [
            'data' => [
                'slider_id' => 'homepage4slider'
            ]
        ])->setTemplate('Rokanthemes_SlideBanner::slider.phtml')->toHtml();?>
	</div>
</div>
<div class="middle-banner">
	<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('banner_middle_top')->toHtml();?>

    <div class="container">
    <div class="row">
        <div class="col-sm-6" style="margin-bottom: 10px;"><a href="https://www.phoenixnext.com/catemerchandise.html"><img src="https://www.phoenixnext.com/pub/EC1.jpg" alt=""></a></div>
        <div class="col-sm-6" style="margin-bottom: 10px;"><a href="https://www.phoenixnext.com/figures.html"><img src="https://www.phoenixnext.com/pub/EC2.jpg" alt=""></a></div>
        <div class="col-sm-6" style="margin-bottom: 10px;"><a href="https://www.phoenixnext.com/tapestry.html"><img src="https://www.phoenixnext.com/pub/EC3.jpg" alt=""></a></div>
        <div class="col-sm-6" style="margin-bottom: 10px;"><a href="https://www.phoenixnext.com/artbook.html"><img src="https://www.phoenixnext.com/pub/EC4.jpg" alt=""></a></div>
    </div>
    </div>

</div>
<div class="catagoryproduct-tab container">
	<?php 
			echo $block->getLayout()->createBlock('Rokanthemes\CategoryProductTab\Block\CategoryProduct')->setTemplate('Rokanthemes_CategoryProductTab::categoryproducttab.phtml')->toHtml();
	?>
</div>
<!--<div class="buttom-banner">
	<div class="container">
		<?php //echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('banner_middle')->toHtml();?>
	</div>
</div>
<div class="main-content-home">
	<div class="list-service">
		<div class="container">
			<?php //echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('section_services')->toHtml(); ?>
		</div>
	</div>
</div>-->
<script type="text/javascript">
require([
		'jquery',
		'mage/mage',
		'rokanthemes/owl'
	], function ($) {
		'use strict';
	$( document ).ready(function() {
		$("ul.tabs li").click(function() {
			$(this).closest("ul").find("li").removeClass("active");
			$(this).addClass("active");
			$(this).closest(".common-tab-system-fixed").find(".tab_content").hide();
			$(this).closest(".common-tab-system-fixed").find(".tab_content").removeClass("animate1");
			var activeTab = $(this).attr("rel");
			$("#"+activeTab) .addClass("animate1");
			$("#"+activeTab).fadeIn();
		});
		//Close Service Box
		$('.close-service-box').on('click',function(event) {
			event.preventDefault();
			$('.banner-top-home').slideUp('slow');
		});
		
		 $(".block-content.brandowl-play >ul").owlCarousel({
			items : 6,
			itemsDesktop : [1199, 5],
	        itemsDesktopSmall : [991,4],
	        itemsTablet : [767, 3],
	        itemsMobile : [479, 1],
		    navigation : true,
		     afterAction: function(el){
		     this.$owlItems.removeClass('first-active')
		     this.$owlItems .eq(this.currentItem).addClass('first-active')  
		    }
		});
		if($('.category-brand-slider').length>0){
			$('.category-brand-slider').each(function(){
			  $(this).find('.wrap-item').owlCarousel({
				items: 1,
				itemsCustom: [
				[0, 2],
				[480, 2],
				[768, 1],
				[992, 1],
				[1200, 1]
				],
				pagination: false,
				navigation: true,
				autoPlay:true,
				navigationText:['<i class="fa fa-angle-left"></i>','<i class="fa fa-angle-right"></i>']
			  });
			});
		}
	});
});
</script>